.search {
  min-width: 578px;
  border-radius: 12px;
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-direction: column;
}

h5 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

.search-input input {
  width: 80%;
  height: 34px;
  border-radius: 12px;
  padding: 5px 12px;
  font-size: 16px;
  color: white;
}

input:active,
input:focus {
  border: 2px solid rgb(21, 21, 226);
  box-shadow: rgba(213, 213, 231, 0.25) 0px 50px 100px -20px,
    rgba(238, 237, 237, 0.3) 0px 30px 60px -30px,
    rgba(220, 225, 230, 0.35) 0px -2px 6px 0px inset;
}
