.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  padding: 10px 60px;
  overflow: hidden;
}
h1 {
  margin: 0 0 10px 0;
  font-size: 22px;
}
